#carouselExampleInterval {
  width: 100%;
}

.hero {
  padding: 1% 0;
  background-color: #f3f3f3;
}

.titleContainer {
  padding-top: 10rem;
  padding-left: 4rem;
}

.heroTitle {
  font-size: 3.4rem;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
  color: rgb(0, 0, 0);
  line-height: 1.5em;
  font-weight: 500;
}

.carrousel {
  height: 90vh;
}

.carousel-inner {
  /* height: 90vh;
    width: 100%; */
}

.carrouselImage {
  width: 80%;
}
