.boxIconContainer {
  height: 10rem;
  margin-bottom: 4%;
  padding-top: 3%;
}

.boxIconColumn {
  width: 12%;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
}

@media (width<500px) {
  .boxIconContainer {
    height: auto;
  }
  .boxIconColumn {
    width: 50%;
  }

  .boxIconDescriptionContainer {
    height: 100px;
    overflow: scroll;
  }

  .boxIconContainer {
    margin-bottom: 1%;
    padding-top: 8%;
  }
}
