.footerContainer {
  padding: 100px 40px 40px 40px;
  position: relative;
}

.footerContacts h5 {
  font-size: 1.4rem;
}

.footerContacts p {
  font-size: 1.2rem;
}

.addressText {
  margin-bottom: 0px;
}

.contactIcon {
  background-color: transparent;
  padding: 1rem 0;
  margin-right: 12px;
  font-size: 1.6rem;
  text-decoration: none;
  color: gray;
}

.termsText {
  padding-top: 40px;
  color: black;
}

.waveFooter {
  position: absolute;
  bottom: 0px;
}

@media (width < 500px) {
  .footerContainer {
    padding: 40px 30px 10px 30px;
  }

  .footerContacts p {
    font-size: 1rem;
  }

  .mapContainer {
    margin-top: 20px;
  }

  .termsText {
    text-align: center;
    font-size: 0.9rem;
  }

  .waveFooter {
    left: -40px;
    bottom: 5px;
  }
}
