.aboutContainer {
  padding: 0%;
  height: 200vh;
}

.topSection {
  width: 100%;
  background-image: url("../../assets/images/backgrounds/aboutSection/Screenshot_89.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 110px;
  position: absolute;
  top: 0;
}
