.contactContainer {
  padding: 0%;
}

.topSection {
  width: 100%;
  background-image: url("../../assets/images/backgrounds/contactSection/pexels-lisa-fotios-851213.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 130px;
  position: absolute;
  top: 0;
}

.topSectionBlackBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
  position: absolute;
}

.topSectionInfoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topSectionTitle {
  color: rgb(255, 255, 255);
  font-family: "Lora", serif;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.015625rem;
}

.topSectionText {
  color: rgb(255, 255, 255);
  font-family: "Lora", serif;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.015625rem;
}

.contactFirstSection {
  margin-top: 350px;
  padding: auto;
}

.contactFirstSectionTitle {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: #151515;
  font-weight: 600;
  margin: 0;
  text-decoration: rgb(235, 122, 122);
}

.contactFirstSectionTitleLine {
  border: 2px solid rgb(235, 122, 122);
  border-radius: 5px;
  margin-left: 27%;
  margin-top: 0;
  margin-bottom: 0;
  width: 46%;
}

.instagramFeedContainer {
  padding: 0px 20px 80px;
}

.mapContactContainer {
  height: auto;
}

.mapContact {
  height: 70%;
}

@media (width<500px) {
  .topSection {
    padding-bottom: 40px;
  }
  .contactFirstSection {
    margin-top: 190px;
  }
  .contactFirstSectionTitle {
    font-size: 1.5rem;
  }

  .instagramFeedContainer {
    padding: 0px 20px 20px;
  }

  .mapContact {
    height: 100%;
  }
}
